header {
    border-bottom: #343434 solid 1px;
    margin-bottom: 34px;
}

.logo a {
    text-decoration: none;
    color: #343434;
    display: block;
    margin: 20px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 8px;
}

.app {
    padding-bottom: 34px;
}

footer {
    width: 100%;
    margin: 5px 0 0 0;
    background-color: #f9fcfd;
    color: #343434;
    text-align: center;
    padding: 5px;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
}