<div class="alert alert-danger" *ngIf="errorMsg">
  {{errorMsg}}
</div>
<div class="row control-center">
  <div class="col-md-12">
    <a 
      class="btn btn-default movie-category"
      [ngClass]="{'btn-success': category === selectedCategory}"
      (click)="changeSelectedCategory(category)"
      *ngFor="let category of availableCategories">
      {{ getCategoryName(category) }}
    </a>
    <input type="text"
      class="form-control movie-filter"
      onFocus="this.select();"
      placeholder="filter on title"
      (keyup)="setFilterSearchText($event)">
  </div>
</div>
<div class="row container-fluid">
  <app-movie-card *ngFor="let movie of movies | filterOnMovies: searchMovies" [movie]="movie">
  </app-movie-card>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="load-more">
          <a 
            class="btn btn-default" 
            (click)="getMovies()"
            *ngIf="pageNumber < totalPages">
            more
          </a>
    </div>
  </div>
</div>
<app-spinner [isRunning]="isLoading"></app-spinner>